table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

th {
  background-color: #f2f2f2;
}

button {
  color: #fff;
  background-color: #eb6100;
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
  padding: 0.5rem 2rem;
  border-bottom: 5px solid #b84c00;
}

button:hover {
  margin-top: 3px;
  border-bottom: 2px solid #b84c00;
}
